.about {
  width: 320px;
  margin: 0 auto;
  font-weight: bold;
}

.about__wrapper {
  padding: 0 30px;
}

.about__title {
  margin: 0;
  padding: 27px 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.about__list {
  @include reset-list;
  display: flex;
  flex-direction: column;

}

.about__item {
  position: relative;
  padding-top: 59px;
  padding-bottom: 24px;
  font-size: $title-font-size;
  line-height: 20px;
}

.about__icon {
  position: absolute;
  top: 7px;
  left: 0;

  path {
    fill: $mint-color;
  }
}

@media (min-width: $tablet-width) {
  .about {
    width: auto;
    margin: 0;
  }
  .about__wrapper {
    width: $tablet-wrapper-width;
    margin: 0 auto;
  }

  .about__list {
    flex-wrap: wrap;
    height: 470px;
  }

  .about__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    width: 700px;
  }
}
