.about {

}

.about__wrapper {

}

.about__title {
  font-size: 25px;
  line-height: 1.2;
}

.about__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.about__item {
  margin-top: 80px;
  font-weight: $bold;
  font-size: $title-font-size;
  line-height: calc(20 / 17);
}

@media (min-width: $tablet-width) {
  .about {

  }
  .about__wrapper {
    width: $tablet-wrapper-width;
    margin: 0 auto;
  }

  .about__list {
    flex-wrap: wrap;
    height: 470px;
  }

  .about__item {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    width: 700px;
  }
}
