.assortment__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 19px;
  font-weight: $bold;
  line-height: 1.25;
}

.assortment__item {
  padding: 30px;
  background-color: $mint-color;
  a {
    color: $main-color;
  }
  &--dark {
    background-color: #56c3b2;
  }
}
