.catalog {
  width: $mobile-width;
  margin: 0 auto;
}

.catalog__wrapper {
  padding: 30px;
  padding-bottom: 0;
}

.catalog__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .catalog__text {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .catalog__text {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.catalog__image {
  display: block;
  height: 195px;
  width: auto;
  margin: 0;
}

.catalog__text {
  padding: 27px;
  border: 1px solid #ececec;
}

.catalog__title {
  margin: 0;
  font-size: $title-font-size;
  font-weight: bold;
  line-height: 24px;
  color: $main-font-color;

  &:hover {
    color: rgba($main-font-color, 0.6);
  }

  &:active {
    color: rgba($main-font-color, 0.3);
  }
}

.catalog__info {
  margin-top: 4px;
  margin-bottom: 19px;
  color: $description-font-color;
  font-size: 13px;
  line-height: 30px;
}

.catalog__buy {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 21px;
  border-top: 1px solid #ececec;
}

.catalog__price {
  font-weight: bold;
}

.catalog__basket {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.2;

  fill: $mint-color;


  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    width: auto;
    margin: 0;
    margin-top: 79px;
    margin-bottom: 53px;
  }
  .catalog__wrapper {
    width: $tablet-wrapper-width;
    margin: 0 auto;
    padding: 0;
  }

  .catalog__item {
    flex-direction: row;
    margin-bottom: 54px;
  }

  .catalog__image {
    height: 334px;
    width: 334px;
  }

  .catalog__text {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .catalog__title {
    width: 242px;
    font-size: 20px;
  }

  .catalog__info {
    font-size: $main-text;
  }

  .catalog__buy {
    margin-top: auto;
  }

  .catalog__price {
    font-size: $title-font-size;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 110px;
    margin-bottom: 3px;
  }

  .catalog__wrapper {
    width: $desktop-wrapper-width;
  }

  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
  }

  .catalog__item {
    flex-direction: column;
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__text {
    width: 100%;
    height: 197px;
  }

  .catalog__info {
    margin-bottom: 0;
  }
}
