.contacts {

  color: $description-font-color;
  line-height: 30px ;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__title {
  font-weight: $bold;
  font-size: 18px;
  color: $main-font-color;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: $tablet-wrapper-width;
    margin: 0 auto;
  }

  .contacts__map {

  }
}

@media (min-width: $desktop-width) {

  .contacts__wrapper {
    flex-wrap: wrap;
    height: 644px;
    width: $desktop-wrapper-width;
  }

  .contacts__wrapper-text,
  .contacts__map,
  .contacts__button {
    width: 50%;
  }

  .contacts__map {
    order: 1;
  }
}
