.container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-width;
    padding: 0 50px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    padding: 0 50px;
    margin: 0 auto;
  }
}
