.contacts {
  width: 320px;
  margin: 0 auto;
  color: $description-font-color;
  line-height: 30px ;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper-text {
  padding: 30px;
  padding-bottom: 36px;
}

.contacts__title {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $main-font-color;
}

.contacts__email,
.contacts__address {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px 0;
}

.contacts__address {
  padding-bottom: 0;
}

.contacts__email a {
  flex-basis: 183px;
  color: #000;
  border-bottom: 1px solid $mint-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__address span {
  flex-basis: 183px;
}

.contacts__map {
  margin: 0;
}

.contacts__map-image {
  display: block;
  width: auto;
  height: 457px;
  margin: 0 auto;
}

.contacts__button {
  display: block;
  margin: auto;
  margin-top: 29px;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: auto;
    margin: 0;
  }

  .contacts__wrapper {
    padding-bottom: 19px;
  }

  .contacts__wrapper-text {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: $tablet-wrapper-width;
    position: relative;
    margin: 0 auto;
    padding: 0;
    padding-top: 54px;
    padding-bottom: 56px;

    &::before {
      content: "";
      position: absolute;
      right: 3px;
      top: 44px;
      width: 47px;
      height: 81px;
      background-repeat: no-repeat;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__title {
    width: 100%;
    margin-bottom: 23px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__email {
    width: 50%;
    font-size: 17px;
    line-height: 30px;

    a {
      margin-right: 52px;
    }
  }

  .contacts__address {
    width: 50%;
    font-size: 17px;
    line-height: 30px;

    span {
      flex-basis: 225px;
      margin-right: 32px;
    }
  }

  .contacts__button {
    width: 230px;
    margin-top: 55px;
    padding: 14px;
  }
}

@media (min-width: $desktop-width) {

  .contacts__wrapper {
    flex-wrap: wrap;
    height: 644px;
    width: $desktop-wrapper-width;
  }

  .contacts__wrapper-text,
  .contacts__map,
  .contacts__button {
    width: 50%;
  }

  .contacts__map {
    order: 1;
  }


}
