.copyright {

}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 19px;
}

.copyright__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 21px 22px;
  padding-bottom: 28px;
  color: $main-font-color;

  &:hover .copyright__icon {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  fill: $mint-color;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding-right: 0;
  }

  .copyright__text {
    margin-right: 30px;
  }

  .copyright__link {
    padding: 0;
  }
}

