.feature {
  width: $mobile-width;
  margin: 0 auto;
  position: relative;
  color: $description-font-color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 100%;
  }
}

.feature__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  padding-bottom: 42px;
}

.feature__title {
  margin: 0;

  color: $mint-color;
  font-size: $title-font-size;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}

.feature__current {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 5px;
  order: -1;
  color: $main-font-color;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.feature__advantages {
  padding-top: 9px;
  padding-bottom: 10px;
}

.feature__description {
  width: 100%;
  margin-bottom: 21px;
  border-collapse: collapse;
}

.feature__field,
.feature__value {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.feature__field {
  width: 97px;
}

.feature__image {
  width: 260px;
  height: 315px;
}

.feature__wrapper-price {
  padding-top: 4px;
  font-size: $title-font-size;
  font-weight: bold;
  text-align: center;
}

.feature__price {
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 24px;
}

.feature__purchase {
  display: block;
}

@media (min-width: $tablet-width) {
  .feature {
    width: auto;
    margin: 0;

    &::after {
      height: 17px;
    }
  }

  .feature__wrapper {
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: $tablet-wrapper-width;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 67px;
  }

  .feature__title {
    width: 130px;
    margin-top: 56px;
    text-align: center;
    line-height: 17px;
  }

  .feature__current {
    order: -1;
    width: 500px;
    margin-top: 18px;
    font-size: 43px;
    line-height: 50px;

  }

  .feature__text {
    width: 292px;
    margin-top: 18px;
  }

  .feature__advantages {
    margin-bottom: 0;
    font-size: $title-font-size;
    line-height: 30px;
  }

  .feature__description {
    margin-top: 26px;
  }

  .feature__description tr {
    border-bottom: 1px solid #ececec;
  }

  .feature__description td {
    padding-bottom: 8px;
    padding-top: 7px;
  }

  .feature__image {
    width: 333px;
    height: 404px;
    margin-top: 52px;
  }
  .feature__wrapper-price {
    position: absolute;
    left: 0;
    bottom: 72px;
  }

  .feature__price {
    padding-bottom: 32px;
    font-size: 20px;
  }

  .feature__purchase {
    width: 291px;
  }
}

@media (min-width: $desktop-width) {
  .feature {
    width: auto;
    margin: 0;

    &::after {
      height: 23px;
    }
  }

  .feature__wrapper {
    width: $desktop-wrapper-width;
    padding-top: 123px;
    justify-content: flex-start;
    padding-bottom: 95px;
  }

  .feature__title {
    margin: 0;
    margin-right: 24px;
    margin-left: 17px;
    margin-top: 15px;
  }

  .feature__current {
    order: 0;
    width: 650px;
    margin: 0;
    padding: 0;
    font-size: 53px;
    line-height: 57px;
    z-index: 1;
  }

  .feature__text {
    margin-left: 175px;
    margin-top: 23px;
    width: 350px;
  }

  .feature__description {
    margin-top: 40px;
  }

  .feature__description td {
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .feature__image {
    position: absolute;
    width: 525px;
    height: 636px;
    right: 0;
    top: 19px;
  }

  .feature__wrapper-price {
    width: 292px;
    margin-left: 175px;
    margin-right: 175px;
    margin-top: 74px;
    padding: 0;
    position: static;
  }
}
