.main-form {
  display: flex;
  flex-direction: column;
}

.main-form__fieldset {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  display: flex;
  flex-direction: column;

  &--checkbox {
    margin-bottom: 10px;
  }

  &--name {
    margin-bottom: 13px;
  }

  &--telephone,
  &--email {
    margin-bottom: 32px;
  }

  &--area {
    margin-bottom: 0;
  }
}

.main-form__legend {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $mint-color;
  font-size: $title-font-size;
  font-weight: bold;
  line-height: 16px ;
  text-transform: uppercase;

  &--telephone,
  &--email {
    margin-bottom: 7px;
  }

  &::after {
    content: "";
    width: 10px;
    height: 1px;
    margin-left: 26px;
    flex-grow: 1;
    background-color: $mint-color;
  }
}

.main-form__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.main-form__option,
.main-form__option-checkbox,
.main-form__full-name {
  label {
    font-size: $title-font-size;
    font-weight: bold;
    line-height: 18px ;
  }
}

.main-form__option,
.main-form__option-checkbox {
  display: flex;
  width: 100%;
}

.main-form__option-checkbox {
  margin-bottom: 22px;
}

.main-form__label--radio {
  width: 100%;
  position: relative;
  padding-left: 63px;
  padding-top: 9px;
  padding-bottom: 15px;


  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    border: 2px solid #000;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: $mint-color;
  }

  &:active::before {
    border-color: rgba($description-font-color, 0.3);
  }
}

.main-form__input--radio:focus + .main-form__label--radio::before {
  border-color: $mint-color;
}

.main-form__input--radio:active + .main-form__label--radio::before {
  border-color: rgba($description-font-color, 0.3);
}

.main-form__input--radio:checked + .main-form__label--radio::before {
  background-color: $mint-color;
  box-shadow: inset 0 0 0 10px #fff;
}

.main-form__label-checkbox {
  position: relative;
  padding-left: 62px;
  padding-top: 11px;
  padding-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 39px;
    top: 0;
    left: 0;
    border: 2px solid #000;
  }

  &:hover::before {
    border-color: $mint-color;
  }

  &:active::before {
    border-color: rgba($description-font-color, 0.3);
  }
}

.main-form__input-checkbox:focus + .main-form__label-checkbox::before {
  border-color: $mint-color;
}

.main-form__input-checkbox:active + .main-form__label-checkbox::before {
  border-color: rgba($description-font-color, 0.3);
}

.main-form__input-checkbox:checked + .main-form__label-checkbox::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 22px;
  top: 6px;
  left: 10px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-form__full-name {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  label {
    padding-top: 4px;
  }
}

.main-form__icon {
  position: absolute;
  right: 4px;
  top: 34px;
  opacity: 0.2;
}

.main-form__input-text {
  padding-top: 16px;
  padding-bottom: 16px;
  font: inherit;
  font-size: $title-font-size;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000;

  &:hover,
  &:active,
  &:focus {
    border-color: $mint-color;
  }

  &:hover + .main-form__icon,
  &:active + .main-form__icon,
  &:focus + .main-form__icon {
    opacity: 1;
  }
}

.main-form__input-text::placeholder {
  font: inherit;
  line-height: inherit;
  color: rgba($description-font-color, 0.3);
}



.main-form__input-text--area {
  padding: 14px;
  padding-bottom: 16px;
  border: 2px solid #000;
  resize: none;

  &:hover,
  &:active,
  &:focus {
    border-color: $mint-color;
  }
}

.main-form__notification {
  margin-top: 16px;
  margin-bottom: 30px;
  color: $description-font-color;
  font-size: 14px;
  line-height: 16px ;
}

@media (min-width: $tablet-width) {
  .main-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main-form__fieldset  {
    margin-bottom: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 12px;
    flex-direction: row;
    width: 100%;

    &--gray {
      background-color: $gray-color;
    }

    &--checkbox,
    &--name {
      padding-bottom: 26px;
    }

    &--email {
      padding-top: 12px;
      padding-bottom: 50px;
    }

    &--area {
      margin-bottom: 34px;
    }

  }

  .main-form__legend {
    width: 167px;
    align-items: flex-start;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: $title-font-size;

    &--radio {
      margin-top: 0;
    }

    &::after {
      content: none;
    }
  }

  .main-form__list {
    width: 501px;

    &--checkbox {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  }

  .main-form__option {
    margin-bottom: 37px;
  }

  .main-form__fieldset label {
    font-size: 19px;
  }

  .main-form__label {
    padding-left: 81px;
    padding-bottom: 20px;
    padding-top: 0;

    &--radio {
    }

    &::before {
      width: 52px;
      height: 52px;
      top: -16px;
    }
  }

  .main-form__input--radio:checked + .main-form__label--radio::before {
    box-shadow: inset 0 0 0 13px #fff;
  }

  .main-form__option-checkbox {
    width: 240px;
    margin-bottom: 23px;
  }

  .main-form__label-checkbox {
    padding-left: 80px;
    padding-top: 15px;
    padding-bottom: 20px;

    &::before {
      width: 54px;
      height: 52px;
    }
  }

  .main-form__input-checkbox:checked + .main-form__label-checkbox::after {
    width: 35px;
    height: 28px;
    top: 13px;
    left: 11px;
  }

  .main-form__full-name {
    margin-bottom: 24px;
    flex-direction: row;
    align-items: center;

    label {
      margin-right: 25px;
      padding-top: 0;
    }
  }

  .main-form__input-text {
    padding-left: 17px;
    flex-grow: 1;
    background-color: transparent;

    &::placeholder {
      font-size: 19px;
    }
  }

  .main-form__icon {
    top: 23px;
    right: 72px;

    &--phone {
      top: 61px;
      right: 75px;
    }
  }

  .main-form__notification {
    margin-right: 50px;
    margin-bottom: 63px;
    order: 1;
    font-size: $title-font-size;
    line-height: 30px;
  }

  .main-form__button {
    width: 230px;
    margin-left: 50px;
    margin-top: 7px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: $title-font-size;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {

  .main-form__fieldset {


    &--radio {
      padding-bottom: 9px;
    }


    &--name,
    &--telephone,
    &--email,
    &--area {
      padding-right: 225px;
    }

    &--area {
      margin-bottom: 30px;
    }
  }

  .main-form__legend {
    width: 175px;
    padding-left: 60px;
    flex-shrink: 0;
  }

  .main-form__list {
    width: 875px;
    justify-content: flex-start;
  }

  .main-form__option {
    margin-bottom: 38px;
  }

  .main-form__option-checkbox {
    width: 262px;
  }

  .main-form__icon {
    right: 230px;
  }

  .main-form__notification {
    margin-right: 225px;
  }

  .main-form__button {
    margin-left: 225px;
  }
}
