.order-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-form__item {
  label {
    color: $description-font-color;
    font-weight: $bold;
    font-size: $title-font-size;
    text-transform: uppercase;
  }
}

.order-form__button {
  background-color: $mint-color;
  border: none;
  color: $main-color;
}
