.page-footer {

  background-color: $gray-color;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
    margin: 0;
  }
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: $tablet-wrapper-width;
    margin: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-wrapper-width;
  }
}
