.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: $bold;
  font-size: $title-font-size;
}

.site-list__item {
  padding: 25px;
  a {
    color: inherit;
    line-height: 24px / $title-font-size;
  }
}
