.slider {

}

.slider__item {
  margin: 0;
}

.slider__toggles {
  width: 100%;
  display: flex;
}

.slider__toggle {
  flex: auto;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 9px;
  background-color: $main-color;
  border: 1px solid #ececec;
  cursor: pointer;

  &:hover .slider__icon {
    opacity: 0.6;
  }

  &:active .slider__icon {
    opacity: 0.3;
  }

}
