.social__list {
  @include reset-list;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 26px 36px;
  padding-bottom: 20px;
  padding-right: 40px;
  border-bottom: 1px solid #e5e5e5;
}

.social__link:hover .social__icon {
  path{
    fill: #46c1ae;
  }
}

.social__link:active .social__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 140px;
    margin-left: 80px;
    padding: 0;
    justify-content: space-between;
    border: none;

  }
}
