.title {
  width: 320px;
  margin: auto;

  background-color: $gray-color;
  background-position: center;
  background-repeat: no-repeat;


  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -17px;
  }
}

.title__wrapper {
  padding: 30px;
  position: relative;
}

.title__header {
  width: 260px;
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 92px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  color: $main-font-color;

}

.title__info {
  display: none;
  position: absolute;
  color: $description-font-color;
}

@media (min-width: $tablet-width) {
  .title {
    width: auto;
    margin: 0;
    &--index {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: center -1px;
    }
  }

  .title__wrapper {
    width: $tablet-wrapper-width;
    margin: 0 auto;
  }

  .title__header {
    width: 500px;
    margin-top: 123px;
    margin-bottom: 343px;
    font-size: 43px;
    line-height: 50px;
  }

  .title__info {
    display: block;
    margin: 0;
    right: 0;
    top: 17px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    min-height: 272px;
  }

  .title__wrapper {
    width: $desktop-wrapper-width;
    padding-bottom: 16px;
  }

  .title__header {
    width: 620px;
    font-size: 53px;
    line-height: 57px;
  }
}
