.title {
  height: 280px;

  background-color: $gray-color;
  background-position: center;
  background-repeat: no-repeat;

  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
  }
}

.title__wrapper {
  position: relative;
}
.title__header {
  font-size: 27px;
  font-weight: $bold;
  line-height: 57px;

}

.title__info {
  position: absolute;
  color: $description-font-color;
}

@media (min-width: $tablet-width) {
  .title {
    min-height: 238px;
    // margin-top: -90px;
    &--index {
      // временно
      min-height: 746px;
      background-image: url("../img/hero-tablet@1x.jpg");
    }
  }

  .title__wrapper {
    width: $tablet-wrapper-width;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .title {
    min-height: 272px;
    &--index {
      // временно
      min-height: 746px;
    }
  }

  .title__wrapper {
    width: $desktop-wrapper-width;

    &--index {
      background-image: url("../img/hero-desktop@1x.jpg");
    }
  }
}
