.title {
  width: 320px;
  margin: auto;

  background-color: $gray-color;
  background-position: center;
  background-repeat: no-repeat;


  &--index {
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -17px;
    background-size: 575px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");

    }
  }
}

.title--index .title__wrapper::after {
  display: none;
}

.title__wrapper {
  padding: 30px 0;
  position: relative;
}

.title__header {
  width: 260px;
  margin: 0 auto;
  margin-top: 41px;
  margin-bottom: 46px;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  color: $main-font-color;

  &--index {
    margin-top: 41px;
    margin-bottom: 92px;
  }
}

.title__info {
  display: none;
  position: absolute;
  color: $description-font-color;
}

@media (min-width: $tablet-width) {
  .title {
    width: auto;
    margin: 0;
    &--index {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position: center -1px;
      background-size: 1150px auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/hero-tablet@2x.jpg");
      }
    }
  }

  .title__wrapper {
    width: $tablet-wrapper-width;
    margin: 0 auto;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -12px;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 100%;
    }
  }

  .title__header {
    width: 500px;
    margin-top: 65px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;

    &--index {
      margin-top: 123px;
      margin-bottom: 343px;
    }


  }

  .title__info {
    display: block;
    margin: 0;
    right: 0;
    top: 17px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    min-height: 272px;
  }

  .title__wrapper {
    width: $desktop-wrapper-width;
    padding-bottom: 16px;

    &::after {
      height: 34px;
      bottom: -24px;
    }
  }

  .title__header {
    width: 620px;
    margin-bottom: 80px;
    font-size: 53px;
    line-height: 57px;

    &--index {
      margin-bottom: 343px;
    }
  }
}
