.user-list {
  font-weight: bold;
  font-size: $title-font-size;
}

.user-list__item {

  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

}

.user-list__item a {
  position: relative;

  display: block;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 45px;
  padding-right: 0;
  color: $main-font-color;
}

.user-list__item a[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-list__icon {
  position: absolute;
  top: 32px;
  left: 2px;

  width: auto;
  height: 18px;

  opacity: 0.2;

  &--search {
    width: 21px;
  }
}

.user-list__item a[href]:hover .user-list__icon {
  opacity: 1;
}

.user-list__item a[href]:active .user-list__icon {
  opacity: 0.3;
}
