html, body {
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
  color: $main-font-color;
  line-height: 1.6;
  background-color: $main-color;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
