html, body {
  margin: 0;
  box-sizing: border-box;
  font-family: $font;
  font-weight: $regular;
  font-size: $main-text;
  color: $main-font-color;
  line-height: 1.6; // 24px / 15px
  background-color: $main-color;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  width: 260px;
  padding: 15px;
  font: inherit;
  font-size: 18px;
  font-weight: $bold;
  line-height: 1;
  border: 2px solid $description-font-color;
  background-color: $main-color;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: $description-font-color;
}
