html, body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: $font;
  font-weight: $regular;
  font-size: $main-text;
  color: $main-font-color;
  line-height: 24px;

  background-color: $main-color;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
