@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

html, body {
  min-width: $mobile-width;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: $main-text;
  color: $main-font-color;
  line-height: 24px;

  background-color: $main-color;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
