$main-color: #ffffff;
$main-font-color: #000000;
$description-font-color: #444444;
$mint-color: #63d1bb;
$main-text: 15px;
$title-font-size: 17px;
$regular: 400;
$bold: 700;
$font: "Open Sans", Arial, sans-serif;
